  <ul>
    <li>{{#link-to "books.index"}}
          Fetch All the Books From Server (Not available){{/link-to}}
    </li>

    <li>{{#link-to "books.new"}}
    		Create a new book{{/link-to}}
    </li>
</ul><br><br><br>

{{outlet}}